@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind's dark mode utility */
body {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  /* Light mode */
  body.light {
    background-color: #ffffff; /* Light background color */
    color: #000000; /* Light text color */
  }
  
  /* Dark mode */
  body.dark {
    background-color: #1a202c; /* Dark background color */
    color: #ffffff; /* Dark text color */
  }